{%extends "base.html"%}

{%block css%}
    <link type="text/css" rel="stylesheet" href="/static/style/daterangepicker-bs3.css"/>
{%endblock%}
{%block js%}
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/daterangepicker.js"></script>
{%endblock%}

{%block title%}额度提升{%endblock%}

{%block nav_order%}

        <li role="presentation" class="active">
            <div class="callout active">
                <span class="icon-svg icon-svg-large svg-nav_icon01" aria-hidden="true"></span>
                <a href="/order">订单管理</a>
            </div>

            <div class="f2">
                <ul class="list-group">
                    <li class="list-group-item "> <a href="/order/all">●&nbsp;&nbsp;所有订单</a>
                    </li>
                    <li class="list-group-item "> <a href="/order/apply">●&nbsp;&nbsp;基本信息</a>
                    </li>
                    <li class="list-group-item list-group-item-info "> <a href="/order/promotion">●&nbsp;&nbsp;额度提升</a>
                <span class="icon-svg icon-svg-large icon-right svg-arrow02" aria-hidden="true"></span>
                    </li>
                    <li class="list-group-item"> <a href="/order/loan">●&nbsp;&nbsp;贷款审核</a>
                    </li>
                    <li class="list-group-item"> <a href="/order/collection">●&nbsp;&nbsp;催收订单</a>
                    </li>
                    <li class="list-group-item disabled"> <a href="/order/trendsinsight">●&nbsp;&nbsp;趋势分析</a> </li>
                </ul>
            </div>
        </li>
{%endblock%}


{%block content%}
    <div class='boxA' id='orderTable'>
        <table cellpadding="0" cellspacing="0" border="0" class="display" width="100%" id="promotion_order">
            <thead>
                <tr>
                    {%for column in columns %}
                    <th>{{column}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    {%for column in columns %}
                    <th>{{column}}</th>
                    {%endfor%}
                </tr>
            </tfoot>
        </table>
        <div class="clear"></div>
    </div>
   <div class="midd_div"> <button type="button" class="btn btn-default" id='gen_order'>生成订单</button></div>
{%endblock%}
