{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Awesome web!</title>
    <link rel="stylesheet"href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
  </head>
  <body>
  <div class="ui thin visible left sidebar inverted vertical menu">
    <div class="header item">
      <img src="{% static 'images/logo2.png' %}">
    </div>
    <div class="item">
      options 1
      <i class="browser icon"></i>
    </div>
    <div class="item">
      options 2
      <i class="bar chart icon"></i>
    </div>
    <div class="item">
      options 3
      <i class="idea icon"></i>
    </div>
  </div>
  <div class="pusher">
    <div class="ui menu">
      <div class="header item" id="menu">
        menu
        <i class="content icon"></i>
      </div>
      <a class="item">This</a>
      <a class="item">company</a>
    </div>
    <div class="ui container" style="margin:70px 0 0 0 ">
      <div class="ui divided items">
        {% for item in Gameinfo %}
         <div class="item">
          <div class="content">
            <a class="header">{{item.title}}</a>
            <!--<div class="meta">-->
              <!--{% for tag in item.type %}-->
              <!--<span class="ui label">{{ tag }}</span>-->
              <!--{% endfor %}-->
            <!--</div>-->
            <div class="description"> 星级：{{ item.star }}</div>
            <div class="date">{{ item.date }}</div>
            <div class="ID">游戏ID:{{ item.ID }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ui pagination menu">
        {% if Gameinfo.has_previous %}
        <a class="icon item" href="?page={{ Gameinfo.previous_page_number }}">
          < pre
        </a>
        {% endif %}
        <div class="disable item">{{ Gameinfo.number }} of {{ Gameinfo.paginator.num_pages }}</div>
        {% if Gameinfo.has_next %}
            <a class="icon item" href="?page={{ Gameinfo.next_page_number }}">
              Next >
            </a>
        {% endif %}
      </div>
    </div>
    <script>
      $('#menu').click(function () {
      $('.ui.sidebar').sidebar('toggle');
      });
    </script>
  </div>
  </body>
</html>
