{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/blah.png' %}">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Site</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Article</h2>
        <ul class="articles">
            {% for item in Gameinfo %}
            <li>
                <img src="{% static 'images/0001.jpg' %}" width="100" height="91">
                <div class="article-info">
                    <h3><a href="#">{{ item.title }}</a></h3>
                    <p class="meta-info">
                        <span class="meta-cate">{{ item.type }}</span>
                    </p>
                    <p class="description">{{ item.star }}</p>
                </div>
                <div class="date">
                    <span class="rate-score">{{ item.date }}</span>
                </div>
                <div class="ID">
                    <span class="rate-score">{{ item.ID }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="main-content-pagitor">
            {% if Gameinfo.has_previous %}
            <a href="?page={{ Gameinfo.previous_page_number }}">< Pre</a>
            {% endif %}
            <p> {{ Gameinfo.number }} of {{ Gameinfo.paginator.num_pages }}</p>
            <span> 1 of 2</span>
            {% if Gameinfo.has_next %}
            <a href="?page={{ Gameinfo.next_page_number }}">Next ></a>
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <p>&copy; Mugglecoding</p>
    </div>
</body>
</html>