{% load time%}
{% load transfer%}

{% block before %}
{% endblock %}
<link type="text/css" rel="stylesheet" href="/static/style/lupeng_style.css" />
<link type="text/css" rel="stylesheet" href="/static/new/css/baguetteBox.css" />
<style>
.btn-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border: 1px solid;
    border-color: #ccc;
}
</style>

<div class="modal-dialog modal-larger" xmlns="http://www.w3.org/1999/html">
    <div class="modal-content">
        <div class="modal-header">
            {% block header %}
            {% endblock %}
        </div>
        <div class="modal-body">
            <div class="container-fluid">

                {% block id %}
                <div class="row">

                    {% with user_data=logic_rsp.module_set.0.field_set %}
                    <div class="col-md-12 pdlr10">
                        <div class="stats-info stats-info-hover rds5" id="id_review">
                            <div id="test" class="panel-heading"><div class="title-icon icon01 fl"></div>
                                <h4 class="panel-title fl">{{ logic_rsp.module_set.0.string_module_name  }}</h4>
                                <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                            <div class="panel-body" id="panel">
                                <ul class="fl col-md-8 bdr pd0" >
                                    {% for d in user_data %}
                                    {% if d.string_desc != '身份证反面图片' and d.string_desc != '身份证正面图片' and d.string_desc != '手持身份证照片' %}
                                    <li>{{d.string_desc}}
                                    <div class="txt-bold fr">{{ d.string_user_value  }}</div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}   
                                </ul>
                                <ul class="fl col-md-4">
                                    <div class="col-md-12 mtb20 pd0" style="padding-left:10px !important;">
                                        <div class="pic-frame fl idcard-pic"><a href="{{ user_data.11.string_user_value  }}" target="_blank"><img src="{{ user_data.11.string_user_value }}" /></a></div>
                                        <div class="fl" style="width:4%;">&nbsp;</div>
                                        <div class="pic-frame fl idcard-pic"><a href="{{ user_data.12.string_user_value  }}" target="_blank"><img src="{{ user_data.12.string_user_value   }}" /></a></div>
                                        <div class="pic-frame fl mt20 idcard-pic"><a href="{{ user_data.13.string_user_value  }}" target="_blank"><img src="{{ user_data.13.string_user_value   }}" /></a></div>
                                    </div>
                                </ul>
                                <!--<div class="pic-frame fr mtb20"><a href="#"><img src="/static/img/non_pic.jpg" /></a></div>-->
                            </div>
                            <!--<div class="panel-tail">2015年12月9日 10:58　<span class="font-blue">打回修改</span>　打回原因：资料不全</div>-->
                        </div>
                    </div>
                    {% endwith %}


                    　{% block id_tail %}
                    <div class="panel-tail" name="id_area">
                        {% if reviews.id_review %}
                        {% for r in reviews.id_review%}
                        {% if forloop.first %}
                        审批人: {{r.review.reviewer.username}} {{r.create_at}}
                        {% if r.review_status == 'y' %}
                        <span class="font-green"> {{r.get_review_status_display}}</span>
                        {% elif r.review_status == 'r' %}
                        <span class="font-blue"> {{r.get_review_status_display}}</span>
                        {% else %}
                        <span class="font-red"> {{r.get_review_status_display}}</span>
                        {% endif %}
                        {%if r.review_note%}
                        打回原因: {{r.review_note}}
                        {%endif%}
                        {% if r.review_note %}
                        审批信息：{{ r.review_note }}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {%endif%} </div>
                    {% endblock %}
                    {% endblock %}
                    {% block bank %}
                    {% endblock %}

                    <!--user behavior start-->
                    {% with strategy_data=strategy_info%}
                    <div class="col-md-12 pdlr10">
                        <div class="stats-info stats-info-hover rds5">
                            <div class="panel-heading panel-heading-hover"><div class="title-icon icon10 fl"></div>
                                <h4 class="panel-title fl">借款人贷款信息</h4>
                                <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                            <div class="panel-body" id="panel">
                                <ul>
                                    {% for k,v in strategy_data.items %}
                                    <li>{{ k }}
                                    <div class="txt-bold fr">{{ v }} </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <!--[><div class="panel-tail">2015年12月9日 10:58　<span class="font-red">拒绝</span></div><]-->
                        </div>
                    </div>
                    {% endwith %}
                    <!--user behavior end--> 

                    {% with bank_data=logic_rsp.module_set.1.field_set %}
                    <div class="col-md-12 pdlr10">
                        <div class="stats-info stats-info-hover rds5">
                            <div class="panel-heading"><div class="title-icon icon06 fl"></div>
                                <h4 class="panel-title fl">{{ logic_rsp.module_set.1.string_module_name }}</h4>
                                <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                            <div class="panel-body" id="panel">
                                <ul>
                                    {% for d in bank_data %}
                                    <li>{{d.string_desc}}
                                    <div class="txt-bold fr">{{ d.string_user_value }}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!--<div class="panel-tail">2015年12月9日 10:58　<span class="font-blue">打回修改</span>　打回原因：资料不全</div>-->
                        </div>
                    </div>
                    {% endwith %}




                    {% block work %}
                    <div class="row"  {% ifequal profile.job 1 %} style="display:none" {%endifequal%} >
                        <!--user work start-->
                        {% with work_data=logic_rsp.module_set.2.field_set %}
                        <div class="col-md-12 pdlr10">
                            <div class="stats-info stats-info-hover rds5" id="work_review">
                                <div class="panel-heading"><div class="title-icon icon06 fl"></div>
                                    <h4 class="panel-title fl">{{ logic_rsp.module_set.2.string_module_name  }}</h4>
                                    <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                                <div class="panel-body" id="panel">
                                    <ul>
                                        {% for d in work_data %}
                                        <li>{{d.string_desc}}
                                        <div class="txt-bold fr">{{ d.string_user_value }}</div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--<div class="panel-tail">2015年12月9日 10:58　<span class="font-blue">打回修改</span>　打回原因：资料不全</div>-->
                            </div>
                        </div>
                        {% endwith %}
                        <!--user work end--> 


                        {% block work_tail %}
                        <div class="panel-tail" name="work_area">
                            {% if reviews.work_review %}
                            {% for r in reviews.work_review %}
                            {% if forloop.first %}
                            审批人: {{r.review.reviewer.username}} {{r.create_at}}
                            {% if r.review_status == 'y' %}
                            <span class="font-green"> {{r.get_review_status_display}}</span>
                            {% elif r.review_status == 'r' %}
                            <span class="font-blue"> {{r.get_review_status_display}}</span>
                            {% else %}
                            <span class="font-red"> {{r.get_review_status_display}}</span>
                            {% endif %}
                            {%if r.review_message%}
                            打回原因: {{r.review_message}}
                            {%endif%}
                            {% if r.review_note %}
                            审批信息：{{ r.review_note }}
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {%endif%}
                        </div>
                        {% endblock %}
                    </div>
                    {% endblock %}


                    {% with profile_data=logic_rsp.module_set.3.images%}
                    <div class="col-md-12 pdlr10">
                        <div class="stats-info stats-info-hover rds5">
                            <div class="panel-heading"><div class="title-icon icon06 fl"></div>
                                <h4 class="panel-title fl">{{ logic_rsp.module_set.3.string_module_name  }}</h4>
                                <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                            <div class="panel-body" id="panel">
                                <ul class="fl col-md-12">
                                    <div class="col-md-12 mtb20 pd0 baguetteBoxOne gallery" style="padding-left:10px !important;">
                                        {% for d in profile_data %}
                                        <!--<div class="pic-frame fl idcard-pic"><a href="{{ d }}" target="_blank"><img src="{{ d }}" /></a></div>-->
                                        <!--<a href="{{ d }}" target="_blank">文件{{forloop.counter}}...{{ d|slice:"-5:" }}</a> -->
                                        <a href="{{ d }}" alt="{{ d}}"><img src="{{ d }}" ></a>
                                        <!--<div class="fl" style="width:4%;">&nbsp;</div>-->
                                        <!--<div class="pic-frame fl idcard-pic"><a href="#"><img src="{{ user_data.12.string_user_value   }}" /></a></div>-->
                                        <!--<div class="pic-frame fl mt20 idcard-pic"><a href="#"><img src="{{ user_data.13.string_user_value   }}" /></a></div>-->

                                        {% endfor %}
                                    </div>
                                </ul>
                            </div>
                            <!--<div class="panel-tail">2015年12月9日 10:58　<span class="font-blue">打回修改</span>　打回原因：资料不全</div>-->
                        </div>
                    </div>
                    {% endwith %}





                    <div class="family-and-business">
                        <style>

.family-and-business{

}
.family-and-business .progress{
    position: absolute;
    top: 50%;
    width: 50%;
    left: 25%;
}
.family-and-business .progress-bar{
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
                        </style>
                        {% block family %}
                        <!--user contacts start-->
                        <div class="col-md-12 pdlr10">
                            <div class="stats-info rds5" id="family_review">
                                <div class="panel-heading  panel-heading-hover"><img src="/static/images/check_icon09.svg" class="title-icon fl">
                                    <h4 class="panel-title fl">电话联系人信息</h4>
                                    <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a></div>
                                <div class="panel-body pdlr10" id="panel">
                                    <!--basic start-->
                                    <div class="col-md-5 mt20 pdlr10">
                                        <div class="bd contact-height">

                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="sr-only">100% Complete</span>
                                                </div>
                                            </div>

                                            <div class="tab-on-top align-mid">基本信息</div>
                                            <div class="ec-main align-mid pdlr20">
                                                <ul>
                                                    {%for feature in phone_basics%}
                                                    {% if feature.description == '手机运营商上姓名' %}
                                                    <li class="col-md-6 font14 lh36 br-dashed">手机运营商上姓名<br/>
                                                    {% if feature.is_ok %}
                                                    <span class="font-dark font40">{{feature.value | match_trans}}</span></li>
                                                    {% else %}
                                                    <span class="font-dark font40">暂无数据</span></li>
                                                    {% endif %}
                                                    {% elif feature.description == '是否本人实名' %}
                                                    <li class="col-md-6 font14 lh36">联系人是否匹配<br/>
                                                    {% if feature.value == 'dismatch' %}
                                                    <span class="font-red font40">{{feature.value | match_trans}}</span></li>
                                                    {% else %}
                                                    <span class="font-green font40">{{feature.value | match_trans}}</span></li>
                                                    {% endif %}
                                                    {% elif feature.description == '手机号注册时间' %}
                                                    <li class="last col-md-12">手机号注册时间
                                                    <div class="txt-bold fr">{{feature.value | match_trans}}</div>
                                                    </li>
                                                    {% elif feature.description == '手机号未使用时长' %}
                                                    <li class="last mt20 col-md-12">手机号未使用时间：<b>{{ feature.value | match_trans }}</b>
                                                    </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--basic end-->
                                    <!--contact start-->

                                    <div class="col-md-7 mt20 pdlr10">
                                        <div class="bd contact-height pdlr20">

                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="sr-only">100% Complete</span>
                                                </div>
                                            </div>
                                            <div class="tab-on-top align-mid">亲密联系人</div>
                                            <table class="table-responsive table table-striped">
                                                <thead class="contact-head">
                                                    <tr>
                                                        <th class="col-md-1 align-mid">关系</th>
                                                        <th class="col-md-1 align-mid">姓名</th>
                                                        <th class="col-md-2 align-mid">电话</th>
                                                        <th class="col-md-3 align-mid">电话是否在通讯录中</th>
                                                        <th class="col-md-3 align-mid">通讯录中的姓名</th>
                                                        <th class="col-md-3 align-mid">联系人是否重复</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-hover">
                                                {% for contact, addressbook_name in contacts %}
                                                {% if contact.name != "None" %}
                                                <tr>
                                                    <td class="align-mid">{{contact.get_relationship_display}}</td>
                                                    <td class="align-mid">{{contact.name}}</td>
                                                    <td>{{contact.phone_no}}</td>
                                                    <td class="align-mid">
                                                        {% if contact.in_addressbook == 1 %}  <span class="glyphicon glyphicon-ok"></span>
                                                        {% else %}
                                                        {% if contact.in_addressbook == 2 %}  <span class="glyphicon glyphicon-remove"></span>{% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-mid">{{ addressbook_name }}</td>
                                                    <td class="align-mid">
                                                        {%ifequal contact.contact_repeat 0%}唯一
                                                        {%else%}
                                                        <button type="button" class="btn-sm btn-danger" data-toggle="popover" class="view_contacts" data-placement="right"
                                                            title='相同联系人' data-content="{%for i in contact.contacts %} <a target='_Blank' rel='nofollow' href='/custom/query_user/?uid={{i.owner.id}}'>{{i.owner.name}}:{{i.get_relationship_display}} {{i.name}}</a> <br /> {%endfor%}">
                                                            重复联系人
                                                        </button>
                                                        {%endifequal%}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--contact end-->
                                    <!--contact start-->

                                    <div class="col-md-12 mt20 pdlr10">
                                        <div class="bd pdlr20">

                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="sr-only">100% Complete</span>
                                                </div>
                                            </div>
                                            <div class="tab-on-top align-mid">联系人</div>
                                            <table class="table-responsive table table-striped">
                                                <tr>
                                                    {% for column in  contact_phone_call_columns %}
                                                    <th class="col-md-1 align-mid">{{column}}</th>
                                                    {% endfor %}
                                                    {% if contact_phone_call_columns %}
                                                    {% endif %}
                                                </tr>
                                                {%for phone_call, featrue in contact_phone_calls %}
                                                <tr>
                                                    {% for f in featrue %}
                                                    {% if f %}
                                                    <td class="col-1 align-mid">{{f}}</td>
                                                    {% endif %}
                                                    {% endfor %}

                                                </tr>
                                                {%endfor%}
                                            </table>
                                        </div>
                                    </div>
                                    <!--contact end-->
                                    <!--company start-->
                                    {% if contact_phone_calls %}
                                    <div class="col-md-12 mt20 pdlr10">
                                        <div class="bd pdlr20">

                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="sr-only">100% Complete</span>
                                                </div>
                                            </div>

                                            <div class="tab-on-top align-mid">公司联系人</div>
                                            <table frame="void">
                                                <thead>
                                                    <tr>
                                                        {% for column in corp_contact_phone_call_columns %}
                                                        <th class="col-md-1 align-mid">{{ column }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {%for phone_call, featrue in corp_contact_phone_calls.items %}
                                                <tr>
                                                    <td class="align-mid">{{phone_call}}</td>
                                                    {% for f in featrue %}
                                                    <td class="align-mid">{{f}}</td>
                                                    {% endfor %}
                                                </tr>
                                                {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--company end-->


                                    <!--location start-->
                                    <div class="col-md-12 mtb20 pdlr10">
                                        <div class="bd col-md-12 pdlr10 pdb10">


                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="sr-only">100% Complete</span>
                                                </div>
                                            </div>
                                            <div class="tab-on-top align-mid mb10">通讯所在地</div>
                                            <!--each location start-->
                                            {% if phone_location.is_ok %}
                                            {% for location in phone_location.value %}
                                            <div class="location col-md-3">
                                                <div class="bd align-mid">
                                                    <ul>
                                                        <li class="city">{{location.location}}</li>
                                                        <li>{{location.first_time}}</li>
                                                        <li class="last">{{location.last_time}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            <br/> {{phone_location.status}}
                                            {% endif %}
                                            <!--each location end-->
                                        </div>
                                    </div>
                                    <!--location end-->
                                    {% ifequal need_get_call 0 %}
                                    <button id="get_call" onclick="window.location.href='/review/get_call?uid={{user.id}}';" class="btn btn-primary center-block">获取通话详单</button> <br/>
                                    {% endifequal %}
                                    <!--<button id="download_addressbook" onclick="window.location.href='/review/download_addressbook?uid={{user.id}}';" class="btn btn-primary center-block">下载完整通讯录&通话记录</button> <br/>-->

                                    <!--company end-->
                                </div>
                                {% block family_tail %}
                                <div class="panel-tail" name="family_area">
                                    {% if reviews.family_review %}
                                    {% for r in reviews.family_review %}
                                    {% if forloop.first %}
                                    审批人: {{r.review.reviewer.username}} {{r.create_at}}
                                    {% if r.review_status == 'y' %}
                                    <span class="font-green"> {{r.get_review_status_display}}</span>
                                    {% elif r.review_status == 'r' %}
                                    <span class="font-blue"> {{r.get_review_status_display}}</span>
                                    {% else %}
                                    <span class="font-red"> {{r.get_review_status_display}}</span>
                                    {% endif %}
                                    {%if r.review_message%}
                                    打回原因: {{r.review_message}}
                                    {%endif%}
                                    {% if r.review_note %}
                                    审批信息：{{ r.review_note }}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {%endif%}
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                        <!--user contacts end-->
                        {% endblock %}
                        {% block chsi %}
                        <div class="row">
                            {% if has_ebusiness %}
                            <div class="col-md-12 pdlr10">
                                <div class="stats-info rds5" id="e_business_review">
                                    <div class="panel-heading  panel-heading-hover"><img src="/static/images/check_icon07.svg" class="title-icon fl"/>
                                        <h4 class="panel-title fl">用户电商信息</h4>
                                        <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a></div>
                                    <div class="panel-body pdlr10" id="panel">
                                        <!--basic start-->
                                        <div class="pdlr10 col-md-3 mtb20">
                                            <div class="bd">

                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">100% Complete</span>
                                                    </div>
                                                </div>

                                                <div class="tab-on-top align-mid">基本信息</div>
                                                {% if e_business.is_ok %}
                                                <div class="ec-main align-mid pdlr20">
                                                    <ul>
                                                        {%for account in e_business.value %}
                                                        <li>
                                                        {% if account.website == "taobao" %}
                                                        <img src="/static/images/ec_tb.svg" class="ec-icon">
                                                        {% else %}
                                                        <img src="/static/images/ec_jd.svg" class="ec-icon">
                                                        {% endif %}
                                                        </li>
                                                        <li>{{account.website}} : <b>{{account.real_name}}</b></li>
                                                        <li>
                                                        <div class="tab tab-blue tab-char4 rds99 align-mid">{{account.is_validate_real_name}}</div>
                                                        </li>
                                                        <li class="last mt20">注册时间
                                                        <div class="txt-bold fr">{{account.register_date}}</div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% else %}
                                                {{e_business.status}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--basic end-->
                                        <!--address start-->
                                        <div class="pdlr10 col-md-9 mtb20">
                                            <div class="bd pdlr20 ec-right">

                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">100% Complete</span>
                                                    </div>
                                                </div>

                                                <div class="tab-on-top align-mid">收货地址</div>
                                                {% if e_deliver.is_ok %}
                                                <table frame="void">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-1 align-mid">地址类型</th>
                                                            <th class="col-md-2">收货人</th>
                                                            <th class="col-md-3">地址</th>
                                                            <th class="col-md-1 align-mid">使用次数</th>
                                                            <th class="col-md-1 align-mid">消费金额</th>
                                                            <th class="col-md-2 align-mid">首次送货时间</th>
                                                            <th class="col-md-2 align-mid">最后送货时间</th>
                                                        </tr>
                                                    </thead>
                                                    {%for address in e_deliver.value%}
                                                    <tr>
                                                        <td class="align-mid">{{address.predict_addr_type}}</td>
                                                        <td>
                                                            {% for receiver in address.receiver_list %}
                                                            {{receiver.name}}:{{receiver.phone_num}}
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{address.address}}</td>
                                                        <td class="align-mid">{{address.total_count}}</td>
                                                        <td class="align-mid">{{address.total_amount}}</td>
                                                        <td class="align-mid">{{address.begin_date}}</td>
                                                        <td class="align-mid">{{address.end_date}}</td>
                                                    </tr>
                                                    {%endfor%}
                                                </table>
                                                {% else %}
                                                {{e_business.status}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--address end-->
                                    </div>
                                </div>
                            </div>
                            {% block e_business_tail%}
                            <div class="panel-tail" name="ebusiness_area">
                                {% if reviews.e_business_review %}
                                {% for r in reviews.e_business_review %}
                                {% if forloop.first %}
                                审批人: {{r.review.reviewer.username}} {{r.create_at}}
                                {% if r.review_status == 'y' %}
                                <span class="font-green"> {{r.get_review_status_display}}</span>
                                {% elif r.review_status == 'r' %}
                                <span class="font-blue"> {{r.get_review_status_display}}</span>
                                {% else %}
                                <span class="font-red"> {{r.get_review_status_display}}</span>
                                {% endif %}
                                {%if r.review_message%}
                                打回原因: {{r.review_message}}
                                {%endif%}
                                {% if r.review_note %}
                                审批信息：{{ r.review_note }}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {%endif%}
                            </div>
                            {% endblock %}
                            {% else %}
                            {% for chsi in chsis %}
                            <div class="col-md-12 pdlr10">
                                <div class="stats-info rds5" id="chsi_review">
                                    <div class="panel-heading  panel-heading-hover"><img src="/static/images/check_icon08.svg" class="title-icon fl">
                                        <h4 class="panel-title fl">用户学籍信息</h4>
                                        <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a>
                                    </div>
                                    <div class="panel-body" id="panel">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="fl bdr">
                                                    <li class="col-md-6 br-dashed">
                                                    姓名：<b>{{chsi.chsi_name}}</b>
                                                    {%ifequal chsi.chsi_name user.name%} <span class="glyphicon glyphicon-ok"></span>
                                                    {%else%} <span class="glyphicon glyphicon-remove"></span> ({{user.name}})
                                                    {%endifequal%}
                                                    </li>
                                                    <li class="col-md-6">身份证号码：<b>{{chsi.id_card_number}}</b>
                                                    {%ifequal chsi.id_card_number user.id_no%} <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    {%else%} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>({{user.id_no}})
                                                    {%endifequal%}
                                                    </li>
                                                    <li class="col-md-6 br-dashed">学校：<b>{{chsi.school}}</b></li>
                                                    <li class="col-md-6">学院：<b>{{chsi.collage}}</b></li>
                                                    <li class="col-md-6 br-dashed">学历：<b>{{chsi.education}}</b></li>
                                                    <li class="col-md-6">专业：<b>{{chsi.major}}</b></li>
                                                    <li class="col-md-6 br-dashed">班级：<b>{{chsi.school_class}}</b></li>
                                                    <li class="col-md-6">学号：<b>{{chsi.student_id}}</b></li>
                                                    <li class="col-md-6 br-dashed">教育形式：<b>{{chsi.edu_type}}</b></li>
                                                    <li class="col-md-6">学制：<b>{{chsi.edu_duration}}</b></li>
                                                    <li class="col-md-6 br-dashed">入学时间：<b>{{chsi.enrollment}}</b><img src="/static/images/icon_small_woman.svg" class="small-icon sicon-mg"></li>
                                                    <li class="col-md-6">生日：<b>{{chsi.birthday}}</b></li>
                                                    <li class="col-md-6 br-dashed">性别：<b>{{chsi.gender}}</b><img src="/static/images/icon_small_man.svg" class="small-icon sicon-mg"></li>
                                                    <li class="col-md-6">民族：<b>{{chsi.nation}}</b></li>
                                                    <li class="col-md-12 last">学籍状态
                                                    <div class="txt-bold fr">{{chsi.edu_status}}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img class="img-responsive" src="{{oss_url}}/{{chsi.head_img}}"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img class="img-responsive" src="{{oss_url}}/{{idcard.id_pic_front}}"/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img class="img-responsive" src="{{oss_url}}/{{idcard.id_pic_self}}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% block chsi_tail%}
                            <div class="panel-tail" name="chsi_area">
                                {% if reviews.chsi_review %}
                                {% for r in reviews.chsi_review %}
                                {% if forloop.first %}
                                审批人: {{r.review.reviewer.username}} {{r.create_at}}
                                {% if r.review_status == 'y' %}
                                <span class="font-green"> {{r.get_review_status_display}}</span>
                                {% elif r.review_status == 'r' %}
                                <span class="font-blue"> {{r.get_review_status_display}}</span>
                                {% else %}
                                <span class="font-red"> {{r.get_review_status_display}}</span>
                                {% endif %}
                                {%if r.review_message%}
                                打回原因: {{r.review_message}}
                                {%endif%}
                                {% if r.review_note %}
                                审批信息：{{ r.review_note }}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {%endif%}
                            </div>
                            {% endblock %}
                            {% endif %}

                        </div>
                        {% endblock %}
                    </div>

                    <div class="col-md-4 pdlr10 mb20">
                        <div class="stats-info stats-info-hover rds5">
                        {% if apply_status <= '1'  or apply_status == 'r' %}
                                <div class="panel-heading2">
                                    <div class="title-icon icon16 fl"></div>
                                    <h4 class="panel-title fl">外访</h4>
                                    <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                                <div class="panel-body lupeng" id="panel"> </div>
                                <div class="panel-tail2"> </div>
                        {%else%}
                            {% if report.u_status == 'y' %}
                            <div class="panel-heading">
                                {% else %}
                                <div class="panel-heading2">
                                    {% endif %}
                                    <div class="title-icon icon16 fl"></div>
                                    <h4 class="panel-title fl">外访</h4>
                                    <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a></div>
                                <div class="panel-body lupeng" id="panel">

                                    {% if report.url %}
                                    <img src="/static/img/icon_small_pic.png" class="mr10"><a href="#" title="查看图片"></a>
                                    <span style="font-size: 15px; text-overflow:ellipsis;  white-space:nowrap; overflow:hidden; width:5px">{{ report.url_cut}}</span>
                                    <!--<a href=""><img src="/static/img/icon_small_wrong.svg" width="18" title="删除"><span class="font-red txt-bold font14">删除</span></a>-->
                                    <div class="fr"><a type="button" class="btn btn-success" href="{{ report.url }}">下载</a></div>
                                    {% endif %}
                                </div>
                                {% if report.u_status == 'y' %}
                                <div class="panel-tail">
                                    {% else %}
                                    <div class="panel-tail2">
                                        {% endif %}
                                        {% if report.u_status  == 'y' %}
                                        <span class="font-green">通过</span>
                                        {% elif report.u_status == 'n' %}
                                        <span class="font-red">拒绝</span>
                                        {% endif %}
                                    </div>
                                        {% endif %}
                                </div>
                            </div>



                            <div class="col-md-4 pdlr10 mb20">
                                <div class="stats-info2 rds5">
                                {% if apply_status <= '2'  or apply_status == 'r' %}
                                    <div class="panel-heading2">
                                            <div class="title-icon icon14 fl"></div>
                                            <h4 class="panel-title fl">三方审批结果</h4>
                                            <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a>
                                        </div>
                                        <div class="panel-body lupeng align-mid" id="panel">
                                        </div>
                                            <div class="panel-tail2">
                                        </div>

                                {%else %}
                                    {% if report.t_status == 'y' %}
                                    <div class="panel-heading">
                                        {% else %}
                                    <div class="panel-heading2">
                                            {% endif %}
                                            <div class="title-icon icon14 fl"></div>
                                            <h4 class="panel-title fl">三方审批结果</h4>
                                            <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a>
                                        </div>
                                        <div class="panel-body lupeng align-mid" id="panel">
                                            {% if report.t_status == 'y'  %}
                                            <span class="font-green"> 通过 
                                                {% elif report.t_status == 'n' %}
                                                <span class="font-red">拒绝 
                                                    {% endif %}
                                                    {{ report.t_result }}
                                                </span>

                                            </div>
                                            {% if report.t_status == 'y' %}
                                            <div class="panel-tail">
                                                {% else %}
                                                <div class="panel-tail2">
                                                    {% endif %}
                                                    {% if report.t_status  == 'y' %}
                                                    <span class="font-green">通过</span>
                                                    {% elif report.t_status == 'n' %}
                                                    <span class="font-red">拒绝</span>
                                                    {% endif %}
                                                </div>
                                                    {% endif %}
                                            </div>
                                        </div>


                                        <div class="col-md-4 pdlr10 mb20">
                                            <div class="stats-info stats-info-hover rds5">
                                {% if apply_status <= '3'  or apply_status == 'r' %}
                                                    <div class="panel-heading2">
                                                        <div class="title-icon icon15 fl"></div>
                                                        <h4 class="panel-title fl">面签</h4>
                                                        <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a>
                                                    </div>
                                                    <div class="panel-body lupeng" id="panel" style="text-align: center">
                                                    </div>
                                                            <div class="panel-tail2">
                                                    </div>

                                                        {%else%}
                                                {% if report.i_status  == 'y' %}
                                                <div class="panel-heading">
                                                    {% else %}
                                                    <div class="panel-heading2">
                                                        {% endif %}
                                                        <div class="title-icon icon15 fl"></div>
                                                        <h4 class="panel-title fl">面签</h4>
                                                        <a href="#" title="收起"><img src="/static/img/arrow01.svg" class="title-icon fr"></a>
                                                    </div>
                                                    <div class="panel-body lupeng" id="panel" style="text-align: center">
                                                        <!--<textarea class="form-control form-panel1 mt20" style="height:80px;resize:none;" type="text" placeholder="在这里填写面签备注信息" readonly=""></textarea>-->
                                                        {% if report.i_status == 'y' %}
                                                        <span class="font-green">通过 
                                                            {% elif report.i_status == 'n' %}
                                                            <span class="font-red">拒绝 
                                                                {% endif %}
                                                                {{ report.i_result }}
                                                            </span>
                                                        </div>
                                                        {% if report.i_status == 'y' %}
                                                        <div class="panel-tail">
                                                            {% else %}
                                                            <div class="panel-tail2">
                                                                {% endif %}
                                                                {% if report.i_status == 'y' %}
                                                                <span class="font-green">通过</span>
                                                                {% elif report.i_status == 'n' %}
                                                                <span class="font-red">拒绝 </span>
                                                                {% endif %}
                                                            </div>
                                                                {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% block promote %}
                                                {% endblock %}
                                                <!-- end basic block -->
                                                {% block loan %}
                                                {% endblock %}
                                                {% block total%}
                                                {% endblock %}
                                                {% block footer %}
                                                <div class="bottom-bar">
                                                    {% if report.i_status == 'y' %}
                                                    <div class="fr mr20" style=''>
                                                        <!--<button type="button" class="btn btn-primary btn-lg">保函打印</button>-->
                                                        <!--<button type="button" class="btn btn-danger btn-lg ml15">重新审批</button>-->
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    </div>
                                                    {% else %}

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    </div>
                                                    {% endif %}
                                                </div>



                                                {% endblock %}
                                            </div>
                                            {% block load_contact %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                                {% block right_menu %}
                                {% endblock %}
                                {% block after %}
                                {% endblock %}
                            </div>


<script src="/static/js/baguetteBox.js"></script>
    <script>

    var img_exts = ['jpg', 'jpeg', 'bmp', 'png', 'gif']
    $('.baguetteBoxOne a').each(function(){
		    $this = $(this);
		    href = $this.attr('href');
		    exts = href.split('.');
		    ext = exts[exts.length - 1];
		    is_in = false;
		    for(ie in img_exts){
		    if(img_exts[ie] == ext){
		    is_in = true;
		    }
		    }
		    if(!is_in){
		    $this.find('img').attr('src', '/static/new/diyUpload/images/filebg/' + ext  + ".png")
		    $this.attr('href', '/static/new/diyUpload/images/filebg/' + ext  + ".png")
		    $this.attr("data", "no");
		    }
		    });
$('.baguetteBoxOne a').click(function(){
		if($(this).attr("data") == "no"){

		$(".baguetteBox-overlay").css("style", "none");
		$(".baguetteBox-overlay").removeClass("visible");
		window.open($(this).attr('alt'));
		return false;
		}
		})

setTimeout(function(){baguetteBox.run('.baguetteBoxOne');}, 1000);
    </script>



