{% extends "collection/cmp.html" %}
{% load num_compute %}




{%block css%}
<link type="text/css" rel="stylesheet" href="/static/style/daterangepicker-bs3.css"/>

{%endblock%}
{%block js%}
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<script type="text/javascript" src="/static/js/jquery.fileDownload.js"></script>
<script type="text/javascript" src="/static/js/waiting-dialog.js"></script>
{%endblock%}

{% block modal_title %}
<div class="modal_title">
    <div class="close cancel-btn" data-dismiss="modal" aria-label="Close" >
        <a><img src="/static/images/icon_small_exit.svg"/></a>
    </div>
    <div>
        <h4 class="modal-title" id="ModalLabel" name={{apply.id}}>催收</h4>
    </div>
</div>

{% endblock %}

{% block installment_table %}
{% endblock %}
{% block installment_table1 %}
<div>
    <!--balance start-->
    <div class="pdlr10 mb20">
        <div class="bd pdlr20">
            <table frame="void" class="mt20">
                <thead>
                    <tr class="info">
                        <th>应还本金</th>
                        <th>应还利息</th>
                        <th>应还手续费</th>
                        <th class="col-md-1 align-mid">应还银行金额<br/>
                        <span class="font12 font-light">(本金+利息+银行手续费)</span></th>
                        <th>应还服务费</th>
                        <th>应还罚息</th>
                        <th>应还罚金</th>
                        <th class="col-md-1 align-mid">逾期滞纳金<br/>
                        <span class="font12 font-light">(罚息+罚金)</span></th>
                        <!--<th>减免金额</th>-->
                        <th>实际已还总额</th>
                        <th>实际应还金额</th>
                        <!--<th>  减免</th>-->
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-mid">{{installment_more.repay_principle| math_div}}</td>
                    <td class="align-mid">{{installment_more.repay_interest| math_div}}</td>
                    <td class="align-mid">{{installment_more.repay_bank_fee| math_div}}</td>
                    <td class="align-mid">{{installment_more.should_repay_amount_collection| math_div}}</td>
                    <td class="align-mid">{{installment_more.repay_fee| math_div}}</td>
                    <td class="align-mid">{{installment_more.repay_overdue_interest| math_div}}</td>
                    <td class="align-mid">{{installment_more.repay_penalty| math_div}}</td>
                    <td class="align-mid">{{installment_more.repay_overdue | math_div}}</td>
                    <!--<td class="align-mid">{{installment_more.reduction_amount | math_div}}</td>-->
                    <td class="align-mid">{{installment_more.real_repay_amount| math_div}}</td>
                    <td class="align-mid">{{installment_more.actual_should_repay_amount_collection| math_div}}</td>
                    <!--<td class="align-mid"><div class="top-tab top-tab-red rds99 plr12-ptb5"><a href="#" id="do_reduction"  class="font-balck">减免</a></div></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--balance end-->
</div>
{% endblock %}

{% block modal_contact_info %}
<div class="col-md-12 pdlr10">
    <div class="stats-info rds5">
        <div class="panel-heading">
            <div class="title-icon icon12 fl"></div>
            <h4 class="panel-title fl">联系人</h4>
                                    <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a>
        </div>
        <div class="panel-body pdlr10" id="panel">
            <div class="mt20 pdlr10 mb20">
                <div class="bd pdlr20">
                    <div class="hide" id="apply">{{apply.id}}</div>
                    <table class="mt20 contact-content">
                        <!--<table class="table-responsive table table-striped">-->
                        <tr>
                            <th>关系</th>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                        {% for contact in contacts %}
                        <tr>
                            <!--<td>{{contact.get_relationship_display}}</td>-->
                            <td>
                                <span class="contact-relationship-text"> {{ contact.get_relationship_display}} </span>
                                <select name="contact_relationship" class="contact-relationship-select hide">
                                    {% for ctt in contact_types %}
                                        {% if contact.relationship == ctt.0  %}
                                            <option value="{{ctt.0}}" selected="selected">{{ctt.1}}</option>
                                        {% else %}
                                            <option value="{{ctt.0}}">{{ctt.1}}</option>
                                        {% endif %}
                                    {% endfor%}
                                </select>
                            </td>
                            <td>
                                <span class="contact-name-text"> {{ contact.name }} </span>
                                <input class="contact-name-input hide" value="{{contact.name}}" placeholder="请输入姓名" />
                            </td>
                            <td> <span class="contact-phone"> {{contact.phone_no}} </span></td>
                            <td>
                                <button class="contact-edit btn btn-info"> 编辑 </button>
                                <button class="contact-save hide btn btn-danger"> 保存 </button>
                                <button class="contact-cancel hide btn btn-default"> 取消 </button>
                            </td>
                        </tr>
                        {%endfor%}

                    </table>
                    <div class="row">
                        <button class="w100 contact-create-btn btn btn-info"> 新增联系人 </button>
                </div>
                        <script>
var regPhone = /^(((1[0-9][0-9]{1}))+\d{8})$/;


function contact_create(){
    var ele_str = ' <tr class="contact-create-form "> <td> <span class="contact-relationship-text"> </span> <select name="contact_relationship" class="contact-relationship-select "> {% for ctt in contact_types %} {% if contact.relationship == ctt.0  %} <option value="{{ctt.0}}" selected="selected">{{ctt.1}}</option> {% else %} <option value="{{ctt.0}}">{{ctt.1}}</option> {% endif %} {% endfor%} </select> </td> <td> <span class="contact-name-text"> </span> <input class="contact-name-input " value="" placeholder="请输入姓名" /> </td> <td> <span class="contact-phone"> </span> <input class="contact-phone-input" value="" placeholder="请输入手机号码" /> </td> <td> <!--<button class="contact-create-post btn btn-danger"> 保存 </button>--> <button class="contact-edit hide btn btn-info"> 编辑 </button> <button class="contact-save btn btn-danger"> 保存 </button> <button class="contact-cancel hide btn btn-default"> 取消 </button> </td> </tr>'

    
    var $table_body = $(".contact-content tbody");
    var $btn_create = $(".contact-create-btn"),
        $form_create = $(".contact-create-form");

    var $post_create = $(".contact-create-post");

    $btn_create.click(function(){
        console.log($table_body);
        $table_body.append(ele_str)
        contact_edit($(".contact-create-form"));
    })


    $post_create.click(function(){


        $.post(url, data, function(data){
            $form_create.addClass("hide");
        })
    })
}

contact_create()

function contact_edit(parent){
    var $parent = $(parent);
    var $edit = $parent.find(".contact-edit"),
        $save = $parent.find(".contact-save"),
        $cancel = $parent.find(".contact-cancel");

    $save.click(function(){
        var $this = $(this),
            $parent = $this.parent().parent();

        var $text = $parent.find(".contact-relationship-text"),
            $select = $parent.find(".contact-relationship-select"),
            $name = $parent.find(".contact-name-text"),
            $name_input = $parent.find(".contact-name-input"),
            $phone = $parent.find(".contact-phone"),
            $phone_input = $parent.find(".contact-phone-input"),

            $edit = $this.parent().find(".contact-edit"),
            $cancel = $this.parent().find(".contact-cancel");


        if($phone_input.length > 0){
            if(!regPhone.test($phone_input.val())){
                alert("手机号码格式不正确!")
                return false;
            }
            $phone.text($phone_input.val());
            $phone.removeClass("hide");
            $phone_input.addClass("hide");
        }
        $text.text($select.find("option:selected").text());
        $name.text($name_input.val());
        var url = "/collection/contact_post",
            data = {
                apply_id: $("#apply").text(),
                name: $name_input.val(),
                phone_no: $parent.find(".contact-phone").text(),
                relationship: $select.val(),
            };

        if($phone_input.length > 0){
            data.phone_no = $phone_input.val();
        }
        $.post(url, data, function(data){
                console.log(data);
            })

        $select.addClass("hide");
        $this.addClass("hide");
        $cancel.addClass("hide");
        $name_input.addClass("hide");

        $text.removeClass("hide");
        $edit.removeClass("hide");
        $name.removeClass("hide");
        
        console.log("phone");
        console.log($phone_input);
        console.log($phone);
    });

    $edit.click(function(){
        var $this = $(this),
            $parent = $this.parent().parent();

        var $text = $parent.find(".contact-relationship-text"),
            $select = $parent.find(".contact-relationship-select"),
            $name = $parent.find(".contact-name-text"),
            $name_input = $parent.find(".contact-name-input"),
            $phone = $parent.find(".contact-phone"),
            $phone_input = $parent.find(".contact-phone-input"),

            $save = $this.parent().find(".contact-save"),
            $cancel = $this.parent().find(".contact-cancel");


        console.log($this);
        console.log($save);
        console.log($cancel);

        $select.removeClass("hide");
        $save.removeClass("hide");
        $cancel.removeClass("hide");
        $name_input.removeClass("hide");

        $text.addClass("hide");
        $this.addClass("hide");
        $name.addClass("hide");

        if($phone_input.length > 0){
            $phone.addClass("hide");
            $phone_input.removeClass("hide");
        }

    });
    $cancel.click(function(){
        var $this = $(this),
            $parent = $this.parent().parent();

        var $text = $parent.find(".contact-relationship-text"),
            $select = $parent.find(".contact-relationship-select"),
            $name = $parent.find(".contact-name-text"),
            $name_input = $parent.find(".contact-name-input"),
            $phone = $parent.find(".contact-phone"),
            $phone_input = $parent.find(".contact-phone-input"),

            $save = $this.parent().find(".contact-save"),
            $edit = $this.parent().find(".contact-edit");



        $select.addClass("hide");
        $save.addClass("hide");
        $this.addClass("hide");
        $name_input.addClass("hide");

        $text.removeClass("hide");
        $edit.removeClass("hide");
        $name.removeClass("hide");

        if($phone_input.length > 0){
            $phone.removeClass("hide");
            $phone_input.addClass("hide");
        }
    });



 
}
contact_edit($(".contact-content tr"));

                        </script>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block review_info %}
<div class="col-md-12 pdlr10">
    <div class="stats-info rds5">
        <div class="panel-heading">
            <div class="title-icon icon12 fl"></div>
            <h4 class="panel-title fl">催记</h4>
                                    <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a>
        </div>
        <!--div class="panel-heading bg-info">催记</div>-->
        <div class="panel-body">
            <div class="row">
                <form class="form-horizontal panel-nested-table">
                                    <div class="mt20 pdlr10 mb20">
                                        <div class="bd pdlr20">
                                            <!--<table id="loan_table" class="mt20">-->
                    <!--<table id="collection_record_table" class="mt20 table table-hover">-->
                    <div class="mt20 dtable w100 mb20" >
                    <div class="col-md-5 form-group general-radio" id="repay_type_radio">
                        <label class="control-label mright10">催收对象</label>
                        <label class="radio-inline">
                            <input name="repay_type" type="radio" id="collection_to_1" value="0" checked> 本人
                        </label>
                        <label class="radio-inline">
                            <input name="repay_type" type="radio" id="collection_to_2" value="1"> 第三方
                        </label>
                        <label class="radio-inline">
                            <input name="repay_type" type="radio" id="collection_to_3" value="2"> 其他
                        </label>
                    </div>
                    <div class="col-md-5" id="repay_time">
                        <label class="control-label">承诺还款时间</label>
                        <input type="text" class="inline" id="config-repay_time" class="form-control">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                    <div class="col-md-2 form-group fright" style="text-align:right" >
                        <button type="button" data-loading-text="处理中" id="submit_collection_record" token="{{token}}" aid="{{apply.id}}" class="btn btn-info">+添加催记</button>
                    </div>
                    <div class="col-md-12 form-group p0 m0 w100">
                        <!--<label for="collection_record" style="vertical-align: top;">处理备注</label>-->
                        <textarea class="form-control"  rows="5" id="collection_record" placeholder="在这里输入催记处理备注"></textarea>
                    </div>
            </div>
            </div>
            </div>
                </form>
            </div>
            <div class="row">
                <!--<div class="box-body table-responsive panel-nested-table">-->
                                    <div class="mt20 pdlr10 mb20">
                                        <div class="bd pdlr20">
                    <div class="btn-group mt20">
                        <button type="button" id="recordTypeButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            催记类型 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="recordTypeBox" name="all">
                            <li><a href="#" name="record">催记</a></li>
                            <li><a href="#" name="repay">扣款</a></li>
                            <li><a href="#" name="dispatch">分配</a></li>
                            <li><a href="#" name="message">短信</a></li>
                            <li><a href="#" name="all">所有</a></li>
                        </ul>
                    </div>



                                            <!--<table id="loan_table" class="mt20">-->
                    <table id="collection_record_table" class="mt20 table table-hover">
                    <!--<table id="collection_record_table" class="table table-hover">-->
                        <thead>
                            <tr>
                                <th>催记类型</th>
                                <th>处理人</th>
                                <th>处理时间</th>
                                <!--
                                    <th>承诺还款时间</th>
                                    -->
                                <th style="width:60%">备注</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block modal_collection_check_label %}
<!--<div class="stats-info rds5">-->
<!--<div  class="panel-heading">-->
<!--<div class="title-icon icon12 fl"></div>-->
<!--<h4 class="panel-title fl">二次提现意见</h4>-->
<!--<a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a> </div>-->
<!--<div class="pdlr10 panel-body">-->
<!--<div class = "radio table-responsive panel-nested-table  text-center general-radio" id="collection_checks">-->
<!--是否允许二次提现-->
<!--<label class="align-radio">-->
<!--<input class = "align-radio" name="collection_check" type="radio"  value="1" {% ifequal collection_check '1' %} che    cked {% endifequal %}> 是-->
<!--</label>-->
<!--<label class="align-radio">-->
<!--<input class = "align-radio"  name="collection_check" type="radio"  value="0"  {% ifequal collection_check '0' %} c    hecked {% endifequal %}> 否-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% endblock %}
{% block modal_footer %}
        <button type="button" id="submit_repayment" token="{{token}}" aid="{{apply.id}}" class="btn btn-primary">确认</button>
<button type="button" id="cancel_repayment"  aid="{{apply.id}}" class="btn btn-default" data-dismiss="modal">取消</button>

{% comment %}
{% ifequal apply.status 'k' %}
<button type="button" class="btn" disabled="disabled">等待复核</button>
<input type="hidden" id="submit_repayment" aid="{{apply.id}}"  />
{% else %}
{% ifequal apply.status '8' %}
<input type="hidden" id="submit_repayment" aid="{{apply.id}}"  />
{% else %}
{% ifequal apply.status '9' %}
<input type="hidden" id="submit_repayment" aid="{{apply.id}}"  />
{% else %}
<button type="button" id="submit_repayment" token="{{token}}" aid="{{apply.id}}" class="btn btn-danger">确认提交</button>
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endcomment %}
{% endblock %}

{% block extra %}
<div class="modal fade bs-example-modal message_modal" id="message_modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<div class="modal fade bs-example-modal" id="reduction_modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<style>
.modal-open .modal{
    overflow-x: auto;
}

.modal-header{
    padding: 10px 15px !important;
    background: white;
    color: #2A3647;
}

.modal-header .modal-title{
    font-weight: 300;
}

.modal-body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0;
}

.panel-heading{
    font-weight: 300;
}

.modal-dialog table td, .modal-dialog table th{
    text-align: center;
}

.modal-dialog table th{
    color: #2A3647;
    background-color: #DFE9F2;
    text-align: center;
    border: 1px solid #CFD8DC;
}
.table>tbody>tr>td {
    text-align: center;
}
.modal-dialog a{
    color: #fff;
}
.stats-info ul li{
    padding: 0
}

#cancel_repayment{

    color: #000;
    background: #fff;
    border: 1px solid #ddd;
}

.col-md-12.pdlr10{
    padding: 0 20px 0 10px !important;
}
.dtable{
    display: table;
}
.p0{
    padding: 0 !important;
}
.m0{
    margin: 0 !important;
}
.w100{
    width: 100% !important;
}
.general-radio input[type="radio"]{
    top: 8px;
}

#repay_type_radiobox, #repay_channel_radiobox{
    margin: 10px 0;
}
#repay_type_radiobox input[type="radio"],
#repay_channel_radiobox input[type="radio"]{
    top: 4px;
}
.fright{
    float: right;
}
.mright10{
    margin-right: 10px;
}
.panel-nested-table{
    margin: 0;
}
#collection_record{
    border: 1px solid #ccc;
}
#recordTypeButton{
    border-radius: 5px;
}
.collection_modal {
    overflow: auto;
}
<!--.collection_modal .modal-dialog.modal-lg {-->
    <!--margin: 2%;-->
<!--}-->

</style>


{% endblock %}


