{% extends "base_modal_new.html" %}

{% block header %}
    <div class="main-title">
        <div class="close cancel-btn" data-dismiss="modal" aria-label="Close" >
            <a><img src="/static/images/icon_small_exit.svg"/></a>
        </div>
        <div><img src="/static/images/icon_small_user.svg" class="fl">
    <h4 class="modal-title" id="ModalLabel" name={{apply.id}}>{{ apply.create_by.name }}</h4>
    </div>
    <!--<div>-->
        <!--<h5>标签</h5>-->
        <!--{% block baseinfo %}-->
          <!--{% block label %}-->
            <!--{% if labels %}-->
                <!--{% for label in labels %}-->
                    <!--{% if label.sub_value == 1 or label.sub_value == 5 or label.sub_value == 6%}-->
                          <!--<div class="top-tab top-tab-green rds99 fl top-tab-mg">-->
                          <!--{{label.display}}-->
                          <!--</div>-->
                    <!--{% else %}-->
                        <!--<div class="top-tab top-tab-red rds99 fl top-tab-mg">-->
                          <!--{{label.display}}-->
                          <!--</div>-->
                    <!--{% endif %}-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
          <!--{% endblock %}-->
        <!--{% endblock %}-->
    <!--</div>-->

    </div>


{% endblock %}

{% block overdue%}
{% if overdue %}
<div class="row">
    <div class="col-md-12">
    </div>
</div>
{% endif %}
{% endblock %}

{% block repay%}
{% if repays%}
<div class="row">
    <div class="col-md-12">
        {% for repay in repays %}
            repay
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
{% endblock %}
