{%extends "base.html"%}

{%block title%}代付{%endblock%}

{%block css%}
    <link type="text/css" rel="stylesheet" href="/static/style/daterangepicker-bs3.css"/>
{%endblock%}
{%block js%}
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/daterangepicker.js"></script>
    <script type="text/javascript" src="/static/js/waiting-dialog.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fileDownload.js"></script>
{%endblock%}
{%block nav_operation%}
        <li role="presentation" class="active">
            <div class="callout active">
                <span class="icon-svg icon-svg-large svg-nav_icon03" aria-hidden="true"></span>
                <a href="/operation">运营管理</a>
            </div>
            <div class="f2">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <a class="" href="pay">●&nbsp;&nbsp; 代付订单</a>
                        <span class="icon-svg icon-svg-large icon-right svg-arrow02" aria-hidden="true"></span>
                    </li>
                    <li class="list-group-item"> <a href="repay">●&nbsp;&nbsp; 代扣订单</a> </li>
                    <li class="list-group-item"> <a href="table1">●&nbsp;&nbsp; 资金明细</a> </li>
                    <li class="list-group-item"> <a href="table3">●&nbsp;&nbsp; 未还明细</a> </li>
                    <li class="list-group-item"> <a href="table4">●&nbsp;&nbsp; 实还明细</a> </li>
                    <!--
                    <li class="list-group-item"> <a href="advance">提前还款</a> </li>
                    -->
                </ul>
            </div>
        </li>
{%endblock%}

{%block content%}
    <div class="btn-toolbar" role="toolbar" aria-label="..." >
        订单期限类型
        <select id="query_strategy_type">
          <option value="0">所有期限</option>
          <option value="10">21天</option>
          <option value="11">28天</option>
          <option value="15">学生三个月</option>
        </select>
    </div>
    <div class='boxA' id='orderTable' style='overflow:auto'>
        <table cellpadding="0" cellspacing="0" border="0" class="display" width="100%" id="pay_loan">
            <thead>
                <tr>
                    {%for column in columns %}
                    <th>{{column}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    {%for column in columns %}
                    <th>{{column}}</th>
                    {%endfor%}
                </tr>
            </tfoot>
        </table>
        <div class="clear"></div>
        <div class="btn-toolbar" role="toolbar" aria-label="..." id='payBox'>
            <!--<a href="#" id="export_pay_loan" class="btn btn-primary " role="button">导出名单</a>-->
            <!--
            <a href="#" id="do_pay_loan" class="btn btn-primary " role="button">银联代付</a>
            <a href="#" id="comfirm_pay_loan_success" class="btn btn-primary " role="button">确认打款成功</a>
            -->
            <a href="#" id="do_pay_done" class="btn btn-primary " role="button">确认打款</a>
            <a href="#" id="mifan_confirm" class="btn btn-primary " role="button">批量打款</a>
            <!--<a href="#" id="mifan_account_confirm" class="btn btn-primary " role="button">米饭到款查询</a>-->
            <!--<a href="#" id="export_pay_loan_table" class="btn btn-primary " role="button">导出报表</a>-->
        </div>
        <div class="modal fade bs-example-modal" id="pay_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="clear"></div>
    </div>
{%endblock%}
