{%extends "base.html"%} 

{%block css%}  
		<link rel="stylesheet" href="/static/new/css/home.css" />
		<link rel="stylesheet" href="/static/new/css/loadding.css" />  
{%endblock%}
{%block js%}
    	<script src="/static/new/My97DatePicker/WdatePicker.js"></script>
   		<script src="/static/new/js/highcharts.js"></script>
		<script src="/static/new/js/highcharts-3d.js"></script>
		<script src="/static/new/js/exporting.js"></script>
		<script type="text/javascript" src="/static/new/js/Public.js"></script>
		<script src="/static/new/js/pagechart.js"></script>
{%endblock%} 

{%block title%}新建订单{%endblock%}

{%block nav_order%}
<li role="presentation" class="active">
	<div class="callout active">
		<span class="icon-svg icon-svg-large svg-nav_icon01" aria-hidden="true"></span>
		<a href="/new_order/query">新建订单</a>
	</div>

	<div class="f2">
		<ul class="list-group">
			<li class="list-group-item list-group-item-info"> <a href="/new_order/query">●&nbsp;&nbsp;订单统计</a>
				<span class="icon-svg icon-svg-large icon-right svg-arrow02" aria-hidden="true"></span>
			</li>
			<li class="list-group-item"> <a href="/new_order/new_apply?product=credit_loan">●&nbsp;&nbsp;信用贷款</a>
			</li>
			<li class="list-group-item"> <a href="/new_order/all_apply_list">●&nbsp;&nbsp;订单列表</a>
			</li>
		</ul>
	</div>
</li>
{%endblock%}
 {%block content%}
 
<div class="div_heard">从<input id="startime" class="Wdate" type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'endtime\')||\'2020-10-01\'}',dateFmt:'yyyy-MM-dd HH:mm:ss'})" /> 至
	<input id="endtime" class="Wdate" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startime\')}',maxDate:'2099-12-28',dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
	<input type="button" value="搜索" class="inputsearch btnblue" onclick="BtnSearchChart()" /></div>
<div id="linechart" ></div>
<div id="piechart" ></div>
{%endblock%}
