<!--
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>登录</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="no-cache" http-equiv="Pragma" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style/main.css">
		<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
		<script src="/static/js/modernizr.custom.js"></script>
		<script src="/static/js/hideShowPassword.min.js"></script>

	</head>

	<body>
		<div class="main_box">
			<div class="login_logo">
				<img width="180" height="60" src="/static/images/logo_bihu.png">
			</div>
			<div class="login_boder">
				<form action="" method="post">
					{% if form.errors %}
					<p class="error">用户名密码有误</p>
					{% endif %} {% csrf_token %}
					<div class="login_padding" id="btncli">
						<div class="login-info">
							<!--  选中输入框时，更换css样式：login-info换成login-info-no  -->
							<span class="user"> </span>
							<input class="login-field login-field-username" type="text" placeholder="用户名" id="username" autocapitalize="off" autocomplete="off" autocorrect="off" name="username">
						</div>
						<div class="login-info login-top">
							<!--  选中输入框时，更换css样式：login-info换成login-info-no  -->
							<span class="pwd"> </span>
							<input class="login-field login-field-password" id="password" type="password" placeholder="密码" name="password">
						</div>
						<p class="forgot login-top">
							<a href="javascript:void(0);">忘记密码?</a>
						</p>
					</div>
					<div class="login-top">
						<input id="button" class="sub_button" type="submit" value="确认登录" name="button">
						<input type="hidden" name="next" value="{{ next|escape }}" />
					</div>
				</form>
			</div>
		</div>

		<ul>
			<li style="position:absolute;width:100%;height:100%;z-index:-1">
				<a target="_blank"><img src="/static/images/by.png" height="100%" width="100%"></a>
			</li>
		</ul>
		<div class="loginfooter">Powered by <img src="/static/images/logo_login.png" width="100" height="28"/></div>
		<script>
			$("#btncli").find("div").click(function() {
				$("#btncli").find("div").addClass("login-info").removeClass("login-info-no");
				$(this).addClass("login-info-no").removeClass("login-info");
			});

			$('#password').hideShowPassword({
				// Creates a wrapper and toggle element with minimal styles.
				innerToggle: true,
				// Makes the toggle functional in touch browsers without
				// the element losing focus.
				touchSupport: Modernizr.touch
			});
		</script>
	</body>

</html>
