<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
<body>
                                    
    <h1 style="text-align: center;">不可撤销担保函</h1>
    <p style="margin-left: 60%;">编号：</p>
    <p>致湖北消费金融股份有限公司：</p>
    <p style="text-indent: 2em">为保障贵公司与债务人 <span style="text-decoration:underline">{{name}} </span>（以下简称“主合同债务人”）所签订的编号为<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>的《个人消费贷款借款合同》（以下简称“主合同”）项下的债权，我公司愿意为主合同项下的债权（以下简称“主债权”）向贵公司提供连带责任保证担保：</p>
        <p style="text-indent: 2em">一、我公司保证担保的范围为主债权本金 <span style="text-decoration:underline">{{money}}</span> 元整及利息、逾期利息、罚息、复利、违约金、损害赔偿金、贵公司为实现债权而发生的费用以及其他所有主合同债务人的应付费用。</p>
    <p style="text-indent: 2em">二、我公司的保证方式为连带责任保证。当主合同债务人不按主合同的约定履行还款义务时，贵公司有权直接向我公司追偿，我公司应立即向贵公司清偿主债权。</p>
    <p style="text-indent: 2em">三、若除本担保外，主合同项下还存在其他担保的，贵公司有权选择优先要求我公司承担连带保证责任，我公司对贵公司承担的保证责任不受任何其他担保的影响，我公司的保证责任的承担也不以贵公司向其他任何担保人提出权利主张或进行诉讼/仲裁/强制执行为前提。若贵公司因任何原因放弃、变更主合同债务人向贵公司提供物的担保、变更担保的顺位，造成贵公司在上述物的担保项下的优先受偿权益丧失或减少，我公司同意我公司在本担保的保证责任并不因之而免除或减少。</p>
    <p style="text-indent: 2em">四、我公司保证期间为自主合同约定的主债务履行期届满之日起两年。</p>
    <p style="text-indent: 2em">五、本担保函自我公司加盖公章或经我公司法定代表人或授权代理人签字之日起生效。</p>
    <p style="text-indent: 2em">六、本担保函一式二份，湖北消费金融股份有限公司一份、上海路鹏资产管理有限公司，具有同等法律效力。</p>
    <p style="margin-left:50%">保证人（公章）:</p>
    <p style="margin-left:50%">法定代表人或授权代理人（签字）：</p>
    <p style="text-align: right; margin-top: 2em;">签署日期：{{year}}年{{month}}月{{day}}日</p>
                                                                                                                                            
                                                                                                                                            
</body>
</html>


