{% load time%}
{% load transfer%}


<div class="family-and-business">
    {% block family %}
    <!--user contacts start-->
    <div class="col-md-12 pdlr10">
        <div class="stats-info rds5" id="family_review">
            <div class="panel-heading  panel-heading-hover"><img src="/static/images/check_icon09.svg" class="title-icon fl">
                <h4 class="panel-title fl">电话联系人信息</h4>
                <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a></div>
            <div class="panel-body pdlr10" id="panel">
                <!--basic start-->
                <div class="col-md-5 mt20 pdlr10">
                    <div class="bd contact-height">
                        <div class="tab-on-top align-mid">基本信息</div>
                        <div class="ec-main align-mid pdlr20">
                            <ul>
                                {%for feature in phone_basics%}
                                {% if feature.description == '手机运营商上姓名' %}

                                <li class="col-md-6 font14 lh36 br-dashed">手机运营商上姓名<br/>
                                {% if feature.is_ok %}
                                <span class="font-dark font40">{{feature.value | match_trans}}</span></li>
                                {% else %}
                                <span class="font-dark font40">暂无数据</span></li>
                                {% endif %}
                                {% elif feature.description == '是否本人实名' %}
                                <li class="col-md-6 font14 lh36">联系人是否匹配<br/>
                                {% if feature.value == 'dismatch' %}
                                <span class="font-red font40">{{feature.value | match_trans}}</span></li>
                                {% else %}
                                <span class="font-green font40">{{feature.value | match_trans}}</span></li>
                                {% endif %}
                                {% elif feature.description == '手机号注册时间' %}
                                <li class="last col-md-12">手机号注册时间
                                <div class="txt-bold fr">{{feature.value | match_trans}}</div>
                                </li>
                                {% elif feature.description == '手机号未使用时长' %}
                                <li class="last mt20 col-md-12">手机号未使用时间：<b>{{ feature.value | match_trans }}</b>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--basic end-->
                <!--contact start-->

                <div class="col-md-7 mt20 pdlr10">
                    <div class="bd contact-height pdlr20">
                        <div class="tab-on-top align-mid">联系人</div>
                        <table class="table-responsive table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1 align-mid">关系</th>
                                    <th class="col-md-1 align-mid">姓名</th>
                                    <th class="col-md-2 align-mid">电话</th>
                                    <th class="col-md-3 align-mid">电话是否在通讯录中</th>
                                    <th class="col-md-3 align-mid">通讯录中的姓名</th>
                                    <th class="col-md-3 align-mid">联系人是否重复</th>
                                </tr>
                            </thead>
                            <tbody class="table-hover">
                            {% for contact, addressbook_name in contacts %}
                            {% if contact.name != "None" %}
                            <tr>
                                {% if contact.relationship == -1 %}
                                    <td class="align-mid">{{contact.relationship_desc|slice:"3:"}}</td>
                                {% else %}
                                    <td class="align-mid">{{contact.get_relationship_display}}</td>
                                {% endif %}
                                <td class="align-mid">{{contact.name}}</td>
                                <td>{{contact.phone_no}}</td>
                                <td class="align-mid">
                                    {% if contact.in_addressbook == 1 %}  <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                    {% if contact.in_addressbook == 2 %}  <span class="glyphicon glyphicon-remove"></span>{% endif %}
                                    {% endif %}
                                </td>
                                <td class="align-mid">{{ addressbook_name }}</td>
                                <td class="align-mid">
                                    {%ifequal contact.contact_repeat 0%}唯一
                                    {%else%}
                                    <button type="button" class="btn-sm btn-danger" data-toggle="popover" class="view_contacts" data-placement="right"
                                        title='相同联系人' data-content="{%for i in contact.contacts %} <a target='_Blank' rel='nofollow' href='/custom/query_user/?uid={{i.owner.id}}'>{{i.owner.name}}:{{i.get_relationship_display}} {{i.name}}</a> <br /> {%endfor%}">
                                        重复联系人
                                    </button>
                                    {%endifequal%}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--contact end-->
                <!--contact start-->

                <div class="col-md-12 mt20 pdlr10">
                    <div class="bd pdlr20">
                        <div class="tab-on-top align-mid">亲密联系人</div>
                        <table class="table-responsive table table-striped">
                            <tr>
                                {% for column in  contact_phone_call_columns %}
                                <th class="col-md-1 align-mid">{{column}}</th>
                                {% endfor %}
                                {% if contact_phone_call_columns %}
                                {% endif %}
                            </tr>
                            {%for phone_call, featrue in contact_phone_calls %}
                            <tr>
                                {% for f in featrue %}
                                {% if f %}
                                <td class="col-1 align-mid">{{f}}</td>
                                {% endif %}
                                {% endfor %}

                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
                <!--contact end-->
                <!--company start-->
                {% if contact_phone_calls %}
                <div class="col-md-12 mt20 pdlr10">
                    <div class="bd pdlr20">
                        <div class="tab-on-top align-mid">公司联系人</div>
                        <table frame="void">
                            <thead>
                                <tr>
                                    {% for column in corp_contact_phone_call_columns %}
                                    <th class="col-md-1 align-mid">{{ column }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {%for phone_call, featrue in corp_contact_phone_calls.items %}
                            <tr>
                                <td class="align-mid">{{phone_call}}</td>
                                {% for f in featrue %}
                                <td class="align-mid">{{f}}</td>
                                {% endfor %}
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                <!--company end-->


                <!--location start-->
                <div class="col-md-12 mtb20 pdlr10">
                    <div class="bd col-md-12 pdlr10 pdb10">
                        <div class="tab-on-top align-mid mb10">通讯所在地</div>
                        <!--each location start-->
                        {% if phone_location.is_ok %}
                        {% for location in phone_location.value %}
                        <div class="location col-md-3">
                            <div class="bd align-mid">
                                <ul>
                                    <li class="city">{{location.location}}</li>
                                    <li>{{location.first_time}}</li>
                                    <li class="last">{{location.last_time}}</li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <br/> {{phone_location.status}}
                        {% endif %}
                        <!--each location end-->
                    </div>
                </div>
                <!--location end-->
                {% ifequal need_get_call 0 %}
                <!--<button id="get_call" onclick="window.location.href='/review/get_call?uid={{user.id}}';" class="btn btn-primary center-block">获取通话详单</button> <br/>-->
                {% endifequal %}
                <!--<button id="download_addressbook" onclick="window.location.href='/review/download_addressbook?uid={{user.id}}';" class="btn btn-primary center-block">下载完整通讯录&通话记录</button> <br/>-->

                <!--company end-->
            </div>
            {% block family_tail1 %}
            <div class="panel-tail" name="family_area">
                {% if reviews.family_review %}
                {% for r in reviews.family_review %}
                {% if forloop.first %}
                审批人: {{r.review.reviewer.username}} {{r.create_at}}
                {% if r.review_status == 'y' %}
                <span class="font-green"> {{r.get_review_status_display}}</span>
                {% elif r.review_status == 'r' %}
                <span class="font-blue"> {{r.get_review_status_display}}</span>
                {% else %}
                <span class="font-red"> {{r.get_review_status_display}}</span>
                {% endif %}
                {%if r.review_message%}
                打回原因: {{r.review_message}}
                {%endif%}
                {% if r.review_note %}
                审批信息：{{ r.review_note }}
                {% endif %}
                {% endif %}
                {% endfor %}
                {%endif%}
            </div>
            {% endblock %}
        </div>
    </div>
    <!--user contacts end-->
    {% endblock %}
    {% block chsi %}
    <div class="row">
        {% if has_ebusiness %}
        <div class="col-md-12 pdlr10">
            <div class="stats-info rds5" id="e_business_review">
                <div class="panel-heading  panel-heading-hover"><img src="/static/images/check_icon07.svg" class="title-icon fl"/>
                    <h4 class="panel-title fl">用户电商信息</h4>
                    <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a></div>
                <div class="panel-body pdlr10" id="panel">
                    <!--basic start-->
                    <div class="pdlr10 col-md-3 mtb20">
                        <div class="bd">
                            <div class="tab-on-top align-mid">基本信息</div>
                            {% if e_business.is_ok %}
                            <div class="ec-main align-mid pdlr20">
                                <ul>
                                    {%for account in e_business.value %}
                                    <li>
                                    {% if account.website == "taobao" %}
                                    <img src="/static/images/ec_tb.svg" class="ec-icon">
                                    {% else %}
                                    <img src="/static/images/ec_jd.svg" class="ec-icon">
                                    {% endif %}
                                    </li>
                                    <li>{{account.website}} : <b>{{account.real_name}}</b></li>
                                    <li>
                                    <div class="tab tab-blue tab-char4 rds99 align-mid">{{account.is_validate_real_name}}</div>
                                    </li>
                                    <li class="last mt20">注册时间
                                    <div class="txt-bold fr">{{account.register_date}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% else %}
                            {{e_business.status}}
                            {% endif %}
                        </div>
                    </div>
                    <!--basic end-->
                    <!--address start-->
                    <div class="pdlr10 col-md-9 mtb20">
                        <div class="bd pdlr20 ec-right">
                            <div class="tab-on-top align-mid">收货地址</div>
                            {% if e_deliver.is_ok %}
                            <table frame="void">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 align-mid">地址类型</th>
                                        <th class="col-md-2">收货人</th>
                                        <th class="col-md-3">地址</th>
                                        <th class="col-md-1 align-mid">使用次数</th>
                                        <th class="col-md-1 align-mid">消费金额</th>
                                        <th class="col-md-2 align-mid">首次送货时间</th>
                                        <th class="col-md-2 align-mid">最后送货时间</th>
                                    </tr>
                                </thead>
                                {%for address in e_deliver.value%}
                                <tr>
                                    <td class="align-mid">{{address.predict_addr_type}}</td>
                                    <td>
                                        {% for receiver in address.receiver_list %}
                                        {{receiver.name}}:{{receiver.phone_num}}
                                        {% endfor %}
                                    </td>
                                    <td>{{address.address}}</td>
                                    <td class="align-mid">{{address.total_count}}</td>
                                    <td class="align-mid">{{address.total_amount}}</td>
                                    <td class="align-mid">{{address.begin_date}}</td>
                                    <td class="align-mid">{{address.end_date}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                            {% else %}
                            {{e_business.status}}
                            {% endif %}
                        </div>
                    </div>
                    <!--address end-->
                </div>
            </div>
        </div>
        {% block e_business_tail1 %}
        <div class="panel-tail" name="ebusiness_area">
            {% if reviews.e_business_review %}
            {% for r in reviews.e_business_review %}
            {% if forloop.first %}
            审批人: {{r.review.reviewer.username}} {{r.create_at}}
            {% if r.review_status == 'y' %}
            <span class="font-green"> {{r.get_review_status_display}}</span>
            {% elif r.review_status == 'r' %}
            <span class="font-blue"> {{r.get_review_status_display}}</span>
            {% else %}
            <span class="font-red"> {{r.get_review_status_display}}</span>
            {% endif %}
            {%if r.review_message%}
            打回原因: {{r.review_message}}
            {%endif%}
            {% if r.review_note %}
            审批信息：{{ r.review_note }}
            {% endif %}
            {% endif %}
            {% endfor %}
            {%endif%}
        </div>
        {% endblock %}
        {% else %}
        {% for chsi in chsis %}
        <div class="col-md-12 pdlr10">
            <div class="stats-info rds5" id="chsi_review">
                <div class="panel-heading  panel-heading-hover"><img src="/static/images/check_icon08.svg" class="title-icon fl">
                    <h4 class="panel-title fl">用户学籍信息</h4>
                    <a href="#" title="收起"><img src="/static/images/arrow01.svg" class="title-icon fr"></a>
                </div>
                <div class="panel-body" id="panel">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="fl bdr">
                                <li class="col-md-6 br-dashed">
                                姓名：<b>{{chsi.chsi_name}}</b>
                                {%ifequal chsi.chsi_name user.name%} <span class="glyphicon glyphicon-ok"></span>
                                {%else%} <span class="glyphicon glyphicon-remove"></span> ({{user.name}})
                                {%endifequal%}
                                </li>
                                <li class="col-md-6">身份证号码：<b>{{chsi.id_card_number}}</b>
                                {%ifequal chsi.id_card_number user.id_no%} <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {%else%} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>({{user.id_no}})
                                {%endifequal%}
                                </li>
                                <li class="col-md-6 br-dashed">学校：<b>{{chsi.school}}</b></li>
                                <li class="col-md-6">学院：<b>{{chsi.collage}}</b></li>
                                <li class="col-md-6 br-dashed">学历：<b>{{chsi.education}}</b></li>
                                <li class="col-md-6">专业：<b>{{chsi.major}}</b></li>
                                <li class="col-md-6 br-dashed">班级：<b>{{chsi.school_class}}</b></li>
                                <li class="col-md-6">学号：<b>{{chsi.student_id}}</b></li>
                                <li class="col-md-6 br-dashed">教育形式：<b>{{chsi.edu_type}}</b></li>
                                <li class="col-md-6">学制：<b>{{chsi.edu_duration}}</b></li>
                                <li class="col-md-6 br-dashed">入学时间：<b>{{chsi.enrollment}}</b><img src="/static/images/icon_small_woman.svg" class="small-icon sicon-mg"></li>
                                <li class="col-md-6">生日：<b>{{chsi.birthday}}</b></li>
                                <li class="col-md-6 br-dashed">性别：<b>{{chsi.gender}}</b><img src="/static/images/icon_small_man.svg" class="small-icon sicon-mg"></li>
                                <li class="col-md-6">民族：<b>{{chsi.nation}}</b></li>
                                <li class="col-md-12 last">学籍状态
                                <div class="txt-bold fr">{{chsi.edu_status}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{oss_url}}/{{chsi.head_img}}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{oss_url}}/{{idcard.id_pic_front}}"/>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{oss_url}}/{{idcard.id_pic_self}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% block chsi_tail1 %}
        <div class="panel-tail" name="chsi_area">
            {% if reviews.chsi_review %}
            {% for r in reviews.chsi_review %}
            {% if forloop.first %}
            审批人: {{r.review.reviewer.username}} {{r.create_at}}
            {% if r.review_status == 'y' %}
            <span class="font-green"> {{r.get_review_status_display}}</span>
            {% elif r.review_status == 'r' %}
            <span class="font-blue"> {{r.get_review_status_display}}</span>
            {% else %}
            <span class="font-red"> {{r.get_review_status_display}}</span>
            {% endif %}
            {%if r.review_message%}
            打回原因: {{r.review_message}}
            {%endif%}
            {% if r.review_note %}
            审批信息：{{ r.review_note }}
            {% endif %}
            {% endif %}
            {% endfor %}
            {%endif%}
        </div>
        {% endblock %}
        {% endif %}

    </div>
    {% endblock %}
</div>


