{%extends "base_modal_new.html"%}

{% block header %}
    <div class="main-title">
        <div class="close cancel-btn" data-dismiss="modal" aria-label="Close" >
            <a><img src="/static/images/icon_small_exit.svg"/></a>
        </div>
        <div><img src="/static/images/icon_small_user.svg" class="fl">
    <h4 class="modal-title" id="ModalLabel" name={{apply.id}}>{{ apply.create_by.name }}</h4>
    {% if auto_check_status %}
        <div style="
            top: 20px;
            position: relative;
            font-size: 3rem;
            ">
            <span class="label label-danger" style=""> {{ auto_check_status }}</span>
        </div>
    {% endif %}
    </div>
    <!--<div>-->
        <!--<h5>标签</h5>-->
        <!--{% block baseinfo %}-->
          <!--{% block label %}-->
            <!--{% if labels %}-->
                <!--{% for label in labels %}-->
                    <!--{% if label.sub_value == 1 or label.sub_value == 5 or label.sub_value == 6%}-->
                          <!--<div class="top-tab top-tab-green rds99 fl top-tab-mg">-->
                          <!--{{label.display}}-->
                          <!--</div>-->
                    <!--{% else %}-->
                        <!--<div class="top-tab top-tab-red rds99 fl top-tab-mg">-->
                          <!--{{label.display}}-->
                          <!--</div>-->
                    <!--{% endif %}-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
          <!--{% endblock %}-->
        <!--{% endblock %}-->
    <!--</div>-->

    </div>


{% endblock %}

{% block footer %}


    {% if manager %}
    <!--<div class="modal-leftfooter">-->
        <!--<button type="submit button" id="reset_review" apply_id="{{apply.id}}" class="btn btn-primary">重新审批</button>-->
    <!--</div>-->
    <!--{% endif %}-->
                    {% if report.i_result != 'y'  and apply_status == 'y'%}
                        <div class="fr mr20 footer" style=''>
                            <!--<button type="button" class="btn btn-primary " href="/review/info/repay_plant/{{apply.id}}">还款计划表打印</button>-->
                            <!--<button type="button" class="btn btn-primary " href="/review/info/backletter/{{apply.id}}">保函打印</button>-->
                            <!--<button type="button" class="btn btn-primary " href="/review/info/safeguard/">委托保证合同打印</button>-->
                            <!--<button type="button" class="btn btn-primary " href="/review/info/protocol/{{apply.id}}">信用咨询及管理服务协议打印</button>-->
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    {% else %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    {% endif %}
 

{% endblock %}


{% block load_contact %}
<script>
    {% if not phone_basics %}
        $(".contact-head").addClass("hide");
        var url = "/review/info/contact/" + {{apply.id}};
        $(".family-and-business").load(url)
    {% else %}
        $(".family-and-business .progress").addClass("hide");
    {% endif %}
    $(".footer button").click(function(){
        var $this = $(this);
        var link = $this.attr('href');
        if(link){
            window.open(link);
        }
    })
</script>
{% endblock %}




